
#initpage{
    border:1px solid #B0B0B0;
    background-position:center center;
    background-repeat:no-repeat;
    background-clip:content-box;
    background-color: #F3F3F3;
}

#clear {
    border: 1px solid #B0B0B0;
    margin-left: 10px;
}

#load {
    border: 1px solid #B0B0B0;
    margin-left: 10px;
}

.xmltext {
    border: 5px solid #B0B0B0;
    margin-left: 10px;
    background-color: #FFFFC0;
}

.success {
    background-color: #F3F3F3;
}

.error {
    background-color: #FF0000;
}

.warning {
    background-color: #FF7700;
}